* {
  padding: 0;
  margin: 0;
}

canvas {
  background: black;
  display: block;
  margin: 0 auto;
}

.time {
  text-align: center;
  font-size:30px;
}

.high {
  text-align: center;
  font-size:30px;
}

.score {
  text-align: center;
  font-size:30px;
}

