* {
  padding: 0;
  margin: 0;
}

canvas {
  background: black;
  display: block;
  margin: 0 auto;
}

.time {
  text-align: center;
  font-size:30px;
}

.high {
  text-align: center;
  font-size:30px;
}

.score {
  text-align: center;
  font-size:30px;
}
#overlay {
  width:300px;
  height:300px;
  position:absolute;
  top: 0px;
  left: 50%;
  background-color: black;
  color: white;
  text-align: center;
  margin-left:-150px;
}

#overlay h2 {
  padding-top: 20px;
}
